
 <% cache product do %>
 <div class="col-xs-12 col-md-3 block " style="height:600px;"> 
  
  	<div class="thumbnail">
    <h3><%= product.name %></h3>
    
    <%= image_tag(product.image_url, class: "img-responsive thumbnail-img") %> 
    <p class="description"><%= product.description %></p>
    <p><strong><%= number_to_currency(product.price) %></strong></p>
    <p><%= link_to 'Show', product %> </p>
    </div>
 
</div>
<% end %>