div class="row">

  <div class="col-sm-6 col-md-6">
   <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive")  %>
    </div>
  </div>

<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <div class="col-sm-6 col-md-6">
    <div class="caption">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <p>
        <strong>Colour:</strong>
        <%= @product.color %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
      
      <p>
        Average Rating:
          <p class="rated" data-score="<%= @product.average_rating%>"></p>
      </p>
      <%= form_tag "/payments/create", :id =>"stripe-button" do %>
          <%= hidden_field_tag(:product_id, @product.id) %>
          <%= render partial: "shared/stripe_checkout_button" %>
         <% end %>
         <br>
      <span class="btn btn-primary btn-colour-change" role="button"><%=  link_to  'Edit'  , edit_product_path(@product)  %></span>
      <span class="btn btn-primary btn-colour-change" role="button"><%= link_to 'Back', products_path %></span>
    </div>
  </div>       
</div>
  
  
</div>
<br>
<%= render 'comments'  %>
<%= render 'new_comment' %>