<!DOCTYPE html>
<html>
  <head>
    <title>Your Premium Skincare Store</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body>
  <!-- <nav>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav> -->
  <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand div_text_shadow" >Dermalogica</a> -->
            <%= link_to "Dermalogica", root_path, class: "navbar-brand div_text_shadow" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'active' if current_page?(static_pages_about_path)%>"><%= link_to "About", static_pages_about_path %></li>
              
              <li class="<%= 'active' if current_page?(products_path)%>"><%= link_to "Products", products_path  %></li>
                  
            </ul>
            <!-- start of login prt -->
            <ul class="nav pull-right">
              <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-9 col-lg-10">
              <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
              </li>
              </div></div>
            </ul>
     <!--        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control pull-right" style=" margin-top: 20px; width: 350px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
            <span class="input-group-btn">
              <button type="reset" class="btn btn-default">
                <span class="glyphicon glyphicon-remove">
                  <span class="sr-only">Close</span>
                </span>
              </button>
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search">
                  <span class="sr-only">Search</span>
                </span>
              </button>
            </span>
          </div>
        </form> -->
            <div>
            <%= form_tag("/products", class: 'navbar-form', method: "get") do %>
           <div class="input-group"> <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag (:q), "", class: 'input-group' %>
            <%= submit_tag("Search", class: 'input-group') %>
            <% end %> </div></div>

          </div><!--/.nav-collapse -->

             


        </div><!--/.container-fluid -->
      </nav>
      
          
  <% if notice %>
    <p id="notice" class="alert notice-info"><%= notice %></p>
<% end %> 
  <% if alert %>
    <p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>


      

  <%= yield %>

  <footer>
    &copy; 2017 DermaStore Spain
  </footer>
  
</body>

</html>
